$secondary-color:#512da8;

@import "node_modules/materialize-css/sass/materialize.scss";



body{
  font-family: 'Roboto', sans-serif;
  background: #f5f5f5;
}
h1{
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 5rem !important;
  margin-bottom: 0 !important;
  color: #512da8;
}

h2{
  font-size: 1.5rem !important;
}
.espacio{
  margin-top: 4%;
}
.logo{
  max-width: 100%;
}
.signup-box, .signup-form{
  text-align: center;
  margin: 0 auto;
  background: #f3e5f5;
  border-radius: 20px;
}
.signup-box{
  border: 1px solid #e0e0e0;
}
.signup-form{
  max-width: 75%;
}
#main-container .signup-box .btn-fb{
  background: #311b92;
}
#main-container .signup-box .btn-form{
  background: #7c4dff;
  margin-bottom: 8%;
}
#main-container .call-to{
  text-align: center;
  margin: 0 auto;
  background: #f3e5f5;
  border-radius: 20px;
  margin-top: 2%;
}
#header a{
  color: #512da8 !important;
}
#header nav {
  background: white;
}
$avatar-size:48px;
.avatar{
  width: $avatar-size;
  height: $avatar-size;
  border-radius: 50%;
  float: left;
  margin-right: 12px
}
.card small.time{
  line-height: $avatar-size;
}
.card p{
  padding: 20px 0;
}
.card .likes{
  line-height: 30px;
  margin-left: 12px;
}
.card i{
  font-size: 30px;
}
.card .fa-heart-o{
  color: $secondary-color;
}
.card .username{
  color: $secondary-color;
}
.card .fa-heart{
  color: red;
  display: none;
}
.card.liked {
  .fa-heart {
    display: inline-block;
  }
  .fa-heart-o {
    display: none;
  }
}
